@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: black;
    --pink: #ffc0cb;
    --bg: #e0e4e3;
    --border: #777;
}

.header {
    background: var(--pink);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 5rem;
}

.header .logo img {
    height: 5rem;
    top: 0;
}

body {
    background: var(--bg);
    font-family: 'Lato', sans-serif;
}

body>header {
    background: var(--bg);
    color: var(--main-color);
    font-size: 24px;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

body>main {
    background: var(--bg);
    padding: 0 30px 30px;
}

body>main .page-title {
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
}

body>main .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

body>main .content section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

body>main .content aside {
    min-width: 250px;
}

button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

a {
    color: var(--main-color);
}

table {

    width: 100%;
    border-collapse: collapse;
}

table thead tr {
    border-bottom: 3px solid var(--bg);
}

table thead tr th {
    text-align: left;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: var(--main-color);
}

table tbody tr {
    border-bottom: 3px solid var(--bg);
}

table tbody tr:last-child {
    border: 0;
}

table tbody tr td {
    padding: 30px 0;
}

.product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product img {
    border-radius: 6px;
}

.product .info {
    margin-left: 20px;
}

.product .info .name {
    font-size: 20px;
    margin-bottom: 10px;
}

.product .info .category {
    color: var(--main-color);
}

.qty {
    background: var(--bg);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
}

.qty span {
    margin: 0 10px;
}

.qty button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var() transparent;
    border: 0;
    padding: 0 10px;
    font-size: 20px;
    height: 100%;
}

.qty button:hover {
    background: var(--bg);
}

.remove {
    background: var(--bg);
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
}


aside {
    height: 100%;
    margin-left: 30px;
    border: 1px solid var(--border);
    border-radius: 20px;
}

aside .box {
    margin-bottom: 15px;
    background: var(--bg);
    color: var(--main-color);
}

aside .box header {
    padding: 15px 20px;
    font-size: 18px;

}

aside .box .info {
    padding: 20px;
    font-size: 16px;
}

aside .box .info>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
    color: var(--main-color);
}

aside .box .info>div:last-child {
    margin: 0;
}

aside .box .info button {
    color: #28a745;
    background: var() transparent;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
}

aside .box footer {
    padding: 15px 20px;
    background: var(--bg);
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

aside>button {
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 15px 0;
    color: var(--main-color);
    background: var(--bg);
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

aside>button:hover {
    background: var(--pink);
    border: 1px solid var(--border);
    transition: 0.7s;
}


/*# sourceMappingURL=styles.css.map */

@media screen and (max-width:768px) {
    * {
        align-items: center;
        flex-direction: column;
        text-align: center;
        max-width: 100%;
    }

    main {

        align-items: center;
        text-align: center;
    }

    button {
        width: 20px;
        height: 20px;
    }

    .header {
        text-align: justify;
        align-items: center;
        justify-content: center;
    }
}